{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

    {% block content %}
<body>
    <div class="big-padding-top text-center">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p> {{msg}} </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    </div>

<!--    Checkbox form for user's wholesalers-->
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6 mx-auto">
        <div class="container">
            <form method="POST" action="" class="big-padding-top just-font-family">
                {{ form.hidden_tag()}}
                <h3>{{ form.user_wholesalers_selected_by_check_boxes.label(class="center-text") }}</h3>
                        {{ form.user_wholesalers_selected_by_check_boxes(name="wholesale_selector", class="lead fw-normal text-muted")}}
                        {{form.download_report(class="btn btn-primary col-8")}}
                    <br>
           </form>
       </div>
    </div>
  </div>
</div>
<!-- Insert here a list of which wholsalers they have with options to select them for running the report -->

    <table class="table">
          {% for row in answer %}
            <p>{{row}}</p>
<!--            {% for i in range(count) %}-->
<!--        <tr>-->
<!--            <td> {{ row[1] }}</td>-->
<!--            <td> {{ row[2] }}</td>-->
<!--            <td> {{ row[3] }}</td>-->
<!--            <td> {{ row[4] }}</td>-->
<!--        </tr>-->
<!--            {% endfor %}-->
          {% endfor %}
  	  </table>


</body>
</html>
{% endblock %}